%section.wrapper
  .row
    .col-lg-12
      %section.panel
        %header.panel-heading
          %div#donators
            %table.table.table-striped
              %thead
                %tr
                  %th 部門
                  %th 主管姓名
                  %th 工號
                  %th 應捐金額
                  %th 中獎
              %tbody
                - @supervisors.each do |supervisor|
                  %tr
                    %td= supervisor.department
                    %td= supervisor.name
                    %td= supervisor.id
                    %td= supervisor.donation
                    %td= supervisor.prize_name
