!!!
%html
  %head
    %title VivoLottery
    = javascript_include_tag "application"
    = javascript_include_tag "underscore"
    = javascript_include_tag "react"
    / = stylesheet_link_tag "custom"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    -#%link{:href => asset_path("marquee/css/screen.css", :rel => "stylesheet")}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}/
    %link{:rel => "stylesheet" , :href => asset_path("marquee/css/reveal.css" )}/
    %link#theme{:rel => "stylesheet",:href => asset_path("marquee/css/theme/black.css" )}/
    / Code syntax highlighting
    -#%link{ :rel => "stylesheet", :href => asset_path("marquee/lib/css/zenburn.css")}/
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>

  %body
    .reveal
      #Marquee
        = yield
    -#%script{:src => asset_path("marquee/lib/js/head.min.js")}
    %script{:src => asset_path("marquee/js/reveal.js")}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    -#%script{:src => asset_path("marquee/js/jquery.scrollbox.js")}
    %script{:src => asset_path("marquee/js/lodash.min.js")}
    = javascript_include_tag params[:controller]
